@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap');
:root {
    --primary-color:rgb(23, 133, 141);
    --primary-color-darker:rgb(7, 24, 26);
}
* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color); 
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;

}
form input {
    font-size: 20px;
    height: 50px;
    padding: 0 20px;
    border-radius: 30px;
}
form input :focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}
form button:hover {
    background: var(--primary-color-darker);
}
.paragrafo-resultado, .bad {
    background: rgb(0, 247, 255);
    padding: 10px 20px;
    /* color: green; */
}

.bad {
    background: rgb(218, 141, 141);
    /* color: orangered; */
    /* text-align: center; */
}
.relogio {
    font-size: 3em;
}